<div id="spree-header">
 <div class="top-links">
  <section id="block-block-3" class="block block-block clearfix">
    <h4>Тел:</h4>
    <h3>(093) 359 44 14</h3>
    <h4> 11:00-24:00 пн-пт Отправка заказов в пн, ср, пт в 17:0</h4>
  </section>
  <section id="block-menu-menu-secondmenu" class="block block-menu clearfix">
    <ul class="menu nav">
      <li class="first leaf">
        <a title="" href="/actions">Акции</a>
      </li>
      <li class="leaf">
        <a title="" href="/dostavka-i-oplata">Как купить</a>
      </li>
      <li class="leaf">
        <a title="" href="/o-nas">О нас</a>
      </li>
      <li class="last leaf">
        <a title="" href="/kak-dobratsya">Как добраться?</a>
      </li>
    </ul>
  </section>
 </div>
  <div class="logo top-line-block">
      <a class="name navbar-brand" title="Главная" href="/">GRANDMOTO.COM.UA</a>
  </div>
  <div class="top-header top-line-block">
      <%= render :partial => 'spree/shared/main_nav_bar' %>
  </div>
  <% if current_page?(root_url) %>
    <% slides = Spree::Slide.published.location("header") %>
    <%= render partial: 'spree/shared/slider', locals: { slider: slides } %>
  <% end %>
</div>
